@model IEnumerable<Inmobiliaria.Models.Inmuebles>
@{ ViewData["Title"] = "Filtrados"; }

<h2>Filtrados</h2>

<table height="100" width="100" background="../imagenes/inmo.png" class="table">

    <thead>
        <tr>
            <th bgcolor="#4CAF50">
                <label>Propietario</label>
            </th>
            <th bgcolor="#4CAF50">
                <label>Direccion</label>
            </th>
            <th bgcolor="#4CAF50">
                <label>Tipo</label>
            </th>
            <th bgcolor="#4CAF50">
                <label>Uso</label>

            </th>
            <th bgcolor="#4CAF50">
                <label>Cantidad Ambientes</label>
            </th>
            <th bgcolor="#4CAF50">
                <label>Costo</label>
            </th>
            <th bgcolor="#4CAF50">
                <label>Disponible</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (IList<Inmuebles>)ViewBag.Filtrados)
        {
<tr>
    <td>
        @(item.Propietarios.Nombre + " " + item.Propietarios.Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Uso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantAmbientes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Costo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Disponible)

    </td>
</tr>
}

    </tbody>
</table>
<div>
    <a class="btn btn-info" asp-action="Index">Regresar</a>
</div>


