@model IEnumerable<Inmobiliaria.Models.Inmuebles>

@{ ViewData["Title"] = "InmPorProp"; }

<h2>Inmuebles por Propietario</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Agregar Inmueble</a>
</p>

<table height="100" width="100" background="../imagenes/inmo.png" class="table">
    <thead>
        <tr>
            <th bgcolor="#4CAF50" <label>Codigo Inmueble</label>
            </th>
            <th bgcolor="#4CAF50" <label>Propietario</label></th>
            <th bgcolor="#4CAF50">
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th bgcolor="#4CAF50">
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th bgcolor="#4CAF50">
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th bgcolor="#4CAF50" <label>Cantidad Ambientes</label>
            </th>
            <th bgcolor="#4CAF50">
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th bgcolor="#4CAF50">
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th bgcolor="#4CAF50"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdInm)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Propietarios.Nombre)  @Html.DisplayFor(modelItem => item.Propietarios.Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Uso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CantAmbientes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Costo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Disponible)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdInm }) |


        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdInm })
    </td>
</tr>}
    </tbody>
</table>